.container-app {
    display: flex;
    padding: 25px;
    flex-direction: column;
}
.container-appsItens {
  display: flex;
  margin-right: 10%;
  flex-direction: column;
}
.app-name {
  color: "#000";
  font-size: large;
}
.app-button {
  height: 250px;
  width: 225px;
  border: 2;
  background-color: #1478eb;
  border-color: black;
  border-radius: 10%;
  margin-top: 10%;
}
